.diagramContainer {
  overflow: hidden;
  height: 1500px;
  width: 3000px;
  touch-action: none;

  background-color: #8f5922;
  opacity: 0.8;
  background-image: linear-gradient(#7f3300 0.0625rem, transparent 0.0625rem),
    linear-gradient(to right, #7f3300 0.0625rem, #e5e5f7 0.0625rem);
  background-size: 1.25rem 1.25rem;
}
