button.stickerFab {
  position: fixed;
  bottom: 1rem;
  inset-inline-end: 1rem;

  @media only screen and (max-width: 768px) {
    top: 90vh;
    bottom: 0;
    inset-inline-start: calc(90vw - 2rem);
    inset-inline-end: 0;
  }
}

.stickerFabIcon {
  width: 1.5rem;
  height: 1.5rem;
}
