button.stickerFab {
  position: fixed;
  bottom: 1rem;
  inset-inline-end: 1rem;

  @media only screen and (hover: none) and (pointer: coarse) {
    position: absolute;
  }
}

.stickerFabIcon {
  width: 1.5rem;
  height: 1.5rem;
}
