button.stickerFab {
  position: fixed;
  bottom: 1rem;
  inset-inline-end: 1rem;

  @media only screen and (max-width: 768px) {
    top: 25%;
    bottom: 0;
    inset-inline-start: 20%;
    inset-inline-end: 0;
  }
}

.stickerFabIcon {
  width: 1.5rem;
  height: 1.5rem;
}
