.stickerContent {
  max-height: calc(100% - 2rem);
  overflow: auto;
}

.stickerContentInput {
  height: inherit;
  color: white;

  & > div {
    min-height: 167px;
    display: flex;
    align-items: flex-start;
    padding: 0;
  }
}
